@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 15, 15;
  --font-size: 14px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: var(--font-size);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .block-table-row-data {
    @apply py-4.5 px-4 group-hover:bg-white/5 bg-white/2;
  }
}
