@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-toastify/dist/ReactToastify.min.css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 15, 15;
  --font-size: 14px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: var(--font-size);
}

.Toastify__toast {
  padding: 0 16px;
  min-height: 48px;
  background-color: rgba(82, 242, 185, 0.1);
  color: rgb(129 255 217);
  border-radius: 9999px;
  display: flex;
  align-items: center;
}

.Toastify__toast-body {
  margin: 0;
  padding: 0;
}

.Toastify__toast-container {
  width: fit-content;
}

.Toastify__progress-bar--wrp {
  height: 0;
}

.Toastify__progress-bar--animated {
  background: #81ffd9;
  height: 1px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .block-table-row-data {
    @apply py-4.5 px-4 group-hover:bg-white/5 bg-white/2;
  }
}
